<!-- this is from the head-custom file that contains elements that can be inserted into head blocks in some or all site pages -->

<!-- page-specific content -->
{% if page.myvariable_name %}
    <!-- content placed here will appear if frontmatter includes "myvariable_name: true" -->
    <!-- can be used for css, script etc needed in page head tag -->
{% endif %}


<!-- MathJax support -->
{% if page.mathjax %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>
  <script>
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    },
    displayAlign: "left"
  });
MathJax = {
  chtml: {
    scale: 1,                      // global scaling factor for all expressions
    minScale: .5,                  // smallest scaling factor to use
    mtextInheritFont: false,       // true to make mtext elements use surrounding font
    merrorInheritFont: false,      // true to make merror text use surrounding font
    mtextFont: '',                 // font to use for mtext, if not inheriting (empty means use MathJax fonts)
    merrorFont: 'serif',           // font to use for merror, if not inheriting (empty means use MathJax fonts)
    unknownFamily: 'serif',        // font to use for character that aren't in MathJax's fonts
    mathmlSpacing: false,          // true for MathML spacing rules, false for TeX rules
    skipAttributes: {},            // RFDa and other attributes NOT to copy to the output
    exFactor: .5,                  // default size of ex in em units
    displayAlign: 'left',        
    displayIndent: '0'             // default for indentshift when set to 'auto'
  }
};
  </script>
{% endif %}
<!-- end of MathJax support -->

<!-- end of head-custom.html -->
