---
---

@import "{{ site.theme }}";

.page__title{
    font-size: 42px;
    font-weight: bold;
    padding-bottom:0px;
    margin-bottom:0px;
}
.page__subtitle{
    font-size: 20px;
    padding-top:0px;
    margin-top:0px;
    color:gray;
}

/* should be able to put all of this 'a' style in the .navgrid below /*
a {font-weight: bold; }
a .toplink {color: white;  }
a .menubutton {color: lightgreen; }
span .toplink {color: white;  }
span .menubutton {color: lightgreen; }

.navGrid {display:grid;}
.navGrid > a {padding-left:2px; padding-right:2px; font-size: 1em; line-height: 70%;}

.image-left {
      display: block;
      max-width: 60%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      float: left;
    }
.image-right {
      display: block;
      max-width: 60%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      float: right;
    }


div .HighlightBox{background-color:#dddad9; margin:5px;padding:7px;}

table .equation{border:none !important;}

div .equation{overflow-x:auto;}

.codepen {
  overflow: hidden;
  resize: both;
  width:fit-content;
}
