<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% seo %}
    {% include head-custom.html %}
  </head>

  <body>    
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a href="https://g1ojs.github.io/{{ site.github.repository_name }}">  <h1 id="project_title"> text-align: center; {{ site.title | default: site.github.repository_name }}</h1> </a>
          <div class='navGrid' style='display:grid; grid-template-columns:auto auto auto auto auto; text-align:center;'>
            <a class="toplink {% if page.url contains '/about' %}active{% endif %}" href="https://g1ojs.github.io/{{ site.github.repository_name }}/about">About</a>            
            <a class="toplink {% if page.url contains '/index' %}active{% endif %}" href="https://g1ojs.github.io/{{ site.github.repository_name }}/index">Guides</a>
            <a class="toplink {% if page.url contains '/blogpages' %}active{% endif %}" href="https://g1ojs.github.io/{{ site.github.repository_name }}/blogpages">Blog</a>
            <a class="toplink {% if page.url contains '/theory' %}active{% endif %}" href="https://g1ojs.github.io/{{ site.github.repository_name }}/theory-index">Theory</a>
            <a class="toplink {% if page.url contains '/downloads' %}active{% endif %}" href="https://g1ojs.github.io/{{ site.github.repository_name }}/downloads">Downloads</a>
          </div>
          <div style="padding-top:5px; padding-bottom:5px; margin-top:5; pxmargin-bottom:5px;">
            <img src = 'https://g1ojs.github.io/G1OJS-MR300-SARK100-Firmware/assets/img/G1OJS%20V1.0%20welcome%20crop%20640.png' width = "640px" ></img>
          </div>
          {% if page.guide %}
            <div class='navGrid' style='display:grid; grid-template-columns:auto auto auto auto auto auto auto; text-align:center;'>
             <a class="menubutton {% if page.url contains '/Impedance' %}    active{% endif %}" href="https://g1ojs.github.io/{{ site.github.repository_name }}/Impedance">Impedance</a>
             <a class="menubutton {% if page.url contains '/SWR' %}          active{% endif %}" href="https://g1ojs.github.io/{{ site.github.repository_name }}/VSWR-scan">VSWR Scanning</a>
             <a class="menubutton {% if page.url contains '/Power' %}        active{% endif %}" href="https://g1ojs.github.io/{{ site.github.repository_name }}/Power-meter">Power Meter</a>
             <a class="menubutton {% if page.url contains '/VFO' %}          active{% endif %}" href="https://g1ojs.github.io/{{ site.github.repository_name }}/VFO-mode">VFO Mode</a>
             <a class="menubutton {% if page.url contains '/Cable-length' %} active{% endif %}" href="https://g1ojs.github.io/{{ site.github.repository_name }}/Cable-length">Cable length</a>
             <a class="menubutton {% if page.url contains '/Calibration' %}  active{% endif %}" href="https://g1ojs.github.io/{{ site.github.repository_name }}/Calibration">Calibration</a>
             <a class="menubutton {% if page.url contains '/menus' %}        active{% endif %}" href="https://g1ojs.github.io/{{ site.github.repository_name }}/menus">Menus</a>
            </div>
            <div style="color:red; font-weight:bold">Site under construction</div>
          {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
            {% if page.title %}
              <p id="page-title" class="page__title" style="text-align:middle;" itemprop="headline">{{ page.title }}</p>
            {% endif %}
            {% if page.subtitle %}
              <p id="page-subtitle" class="page__subtitle" itemprop="headline">{{ page.subtitle }}</p>
            {% endif %}
            {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
          <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p style="font-size:70%; margin-top:0; margin-bottom:0;">With thanks to EA4FRB for designing the SARK100 hardware and Firmware and releasing this under the <a href='https://g1ojs.github.io/G1OJS-MR300-SARK100-Firmware/LICENSE'>GPL License</a>.
          As required by that license, the software downloadable from this site is released under the same <a href='https://g1ojs.github.io/G1OJS-MR300-SARK100-Firmware/LICENSE'>LICENSE</a>.</p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
          

      </div>
  </body>
</html>
